streamlit
pandas
geopandas
folium
streamlit-folium
geopy
openpyxl
fuzzywuzzy
python-Levenshtein
plotly
streamlit-plotly-events
streamlit-aggrid
openai
streamlit-cookies-manager
yagmail
sqlite3
datetime